extends layout

block content
  h1= title
  p Welcome to #{title}
  if (!user)
    a(href="users/login") Login
    br
    a(href="users/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    if (user.roles.includes('admin'))
      a(href="users/create") Create new user
      br
    a(href="users/logout") Logout
