extends layout

block content
  .container
    h1 Admin Page
    p.lead Create new user
    br
    form(role='form', action="create",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="firstName", placeholder='Enter first name')
      .form-group
          input.form-control(type='text', name="lastName", placeholder='Enter last name')
      .form-group
          input.form-control(type='text', name="email", placeholder='Enter email')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter username')
      .form-group
        input.form-control(type='password', name="password", placeholder='password')
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type="button") Cancel